/*
 * По хорошему использовать бы БЭМ везде, но мне уже влом...
 */

.app {
  border: 1px solid;
  font-family: "Courier New";
  font-size: 14px;
}

.app__title {
  font-size: 19px;
  font-weight: bold;
}

.board {
  margin: 10px;
}

.board td {
  width: 10px;
  height: 10px;
  border: 1px solid gray;
}

.board--active td {
  border: 1px solid green;
}

.board--active td:hover {
  background: gray;
}

/*
 * Анимация не срабатывает в виду слишком простой реализации рендера
 */
.board td {
  background: white;
  transition-duration: 1s;
  transition-property: background;
}

.board--user td.located {
  background: blue;
}

.board td.fired {
  background: red;
}

.board td.blunder {
  background: gray;
}

.board td.prelocated {
  background: gray;
}

.profile__text {
  width: 100px;
  overflow: hidden;
  margin: 10px;
  font-size: 16px;
}

.man {
  text-align: center;
}

.man__text {
  position: relative;
  top: 25px;
  font-family: "Comic Sans MS";
  font-size: 16px;
  font-style: italic;
  text-align: center;
  height: 50px;
}

.man__avatar {
  width: 200px;
  height: 170px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}